@{
    ViewData["Title"] = "Home Page";
}
<h2>Add a Quote</h2>
<a href="quotes">Show Quotes</a>
<a href="logout">Logout</a>
<hr>
<form action="add_quote" method="post">
    <label>quote: </label><textarea name="text" cols="30" rows="10"></textarea><br>
    <input type="submit" name="submit">
</form><br>

